@page "/create"
@rendermode InteractiveServer

@if (errorMessage != null)
{
    <Alert Message="Error"
           Description="@errorMessage"
           Type="@AlertType.Error" />
}

@if (classes != null)
{
    <Form Model="@student"
          OnFinish="HandleOnCreateAsync"
          ValidateMode=@FormValidateMode.Complex
          LabelColSpan="8"
          WrapperColSpan="16">
        <FormItem Label="User Name">
            <Input @bind-Value="@context.FullName" />
        </FormItem>
        <FormItem Label="Birthday">
            <DatePicker TValue="DateTime" @bind-Value="@context.Birthday" Format="dd/MM/yyyy" />
        </FormItem>
        <FormItem Label="Address">
            <Input @bind-Value="@context.Address" />
        </FormItem>
        <FormItem Label="Class">
            <Select DataSource="@classes"
                    @bind-Value="@context.ClassId"
                    ItemValue="c => c.Id"
                    ItemLabel="c => c.Name"
                    Style="width: 200px">
            </Select>
        </FormItem>
        <FormItem WrapperColOffset="8" WrapperColSpan="16">
            <Button Type="@ButtonType.Primary" HtmlType="submit">
                Create
            </Button>
        </FormItem>
    </Form>
}
else
{
    <p>Loading...</p>
}
