@using Client.Blazor.Models
@using Microsoft.AspNetCore.Components
@using Shared
@rendermode InteractiveServer

<Drawer Visible="@IsVisible" Placement="right" Title="@("Add New Student")" OnClose="ClosePopup" Width="500">
    @if (errorMessage != null)
    {
        <Alert Message="Error" Description="@errorMessage" Type="error" />
    }

    @if (successMessage != null)
    {
        <Alert Message="Success" Description="@successMessage" Type="success" />
    }

    <Form Model="@studentProfile"
          OnFinish="CreateStudent" 
          ValidateMode=@FormValidateMode.Complex
          RequiredMark=@FormRequiredMark.Required>
        <FormItem Label="Full Name">
            <Input @bind-Value="studentProfile.FullName" />
        </FormItem>
        <FormItem Label="Birthday">
            <DatePicker @bind-Value="studentProfile.Birthday" Format="dd/MM/yyyy" />
        </FormItem>
        <FormItem Label="Class">
            <Select DataSource="@classes"
                    @bind-Value="@context.ClassId"
                    ItemValue="c => c.Id"
                    ItemLabel="c => c.Name"
                    Style="width: 200px">
            </Select>
        </FormItem>
        <FormItem Label="Address">
            <TextArea @bind-Value="studentProfile.Address" MinRows="3" MaxRows="6" />
        </FormItem>
        <FormItem>
            <Button Type="primary" HtmlType="submit">Add</Button>
        </FormItem>
    </Form>
    
</Drawer>
