@page "/details/{Id:int}"
@using Client.Blazor.Models
@using Shared
@inject IStudentService StudentService

@rendermode InteractiveServer

@if (errorMessage != null)
{
    <Alert Message="Error" Description="@errorMessage" Type="@AlertType.Error" />
}

@if (student != null)
{
    <Descriptions Title="Student Details">
        <DescriptionsItem Title="Id">@student.Id</DescriptionsItem>
        <DescriptionsItem Title="Birthday">@student.Birthday.ToLongDateString()</DescriptionsItem>
        <DescriptionsItem Title="Full Name">@student.FullName</DescriptionsItem>
        <DescriptionsItem Title="Address">@student.Address</DescriptionsItem>
        <DescriptionsItem Title="Class Name">@student.ClassName</DescriptionsItem>
        <DescriptionsItem Title="Class Subject">@student.ClassSubject</DescriptionsItem>
        <DescriptionsItem Title="Teacher Name">@student.TeacherFullName</DescriptionsItem>
        <DescriptionsItem Title="Teacher Birthday">@student.Birthday.ToShortDateString()</DescriptionsItem>
    </Descriptions>
}
else
{
    <p>Loading...</p>
}