@page "/"
@page "/students"
@using Grpc.Net.Client
@using ProtoBuf.Grpc.Client
@using Shared
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div>
    <SearchField OnSearch="OnSearchAsync" />
</div>

<div class="d-flex justify-content-between align-items-center">
    <Button Type="primary" OnClick="@(e => OpenPopup(isCreate:true))">Add new student</Button>
    <div>
        <Dropdown Trigger="@(new Trigger[] { Trigger.Click })">
            <Overlay>
                <Menu OnMenuItemClicked="OnSort">
                    <MenuItem Key="sbId">
                        <Text>Sort by Id</Text>
                    </MenuItem>
                    <MenuItem Key="sbName">
                        <Text>Sort by Name</Text>
                    </MenuItem>
                    <MenuItem Key="sbBirthday">
                        <Text>Sort by Birthday</Text>
                    </MenuItem>
                    <MenuItem Key="sbAddress">
                        <Text>Sort by Address</Text>
                    </MenuItem>
                    <MenuItem Key="sbClassId">
                        <Text>Sort by Class Id</Text>
                    </MenuItem>
                    <MenuItem Key="sbClassName">
                        <Text>Sort by Class Name</Text>
                    </MenuItem>
                </Menu>
            </Overlay>
            <ChildContent>
                <Button>
                    Sort by <Icon Type="caret-down" Theme="outline" />
                </Button>
            </ChildContent>
        </Dropdown>
    
        <Button OnClick="@(() => LoadStudentsAsync())">Reload Page</Button>
    </div>

</div>
    <Table DataSource="@students"
           RowKey="s => s.Id"
           PageIndex="pageNumber"
           Loading="@(students == null)"
           Total="total"
           PageSize="pageSize"
           HidePagination="(total <= pageSize)"
           OnPageIndexChange="HandlePageIndexChangeAsync"
           OnPageSizeChange="HandlePageSizeChangeAsync">
        <ColumnDefinition Title="Index">
            @{
                int index = students!.IndexOf(context) + 1 + ((pageNumber - 1) * pageSize);
            }
            @index
        </ColumnDefinition>
        <PropertyColumn Property="s => s.Id" Title="Id" />
        <PropertyColumn Property="s => s.FullName" Title="Full Name" />
        <PropertyColumn Property="s => s.Birthday" Title="Birthday" Format="dd/MM/yyyy" />
        <PropertyColumn Property="s => s.Address" Title="Address" />
        <PropertyColumn Property="s => s.ClassId" Title="Class Id" />
        <PropertyColumn Property="s => s.ClassName" Title="Class Name" />
        <ActionColumn Title="Action" Class="d-flex justify-content-center align-items-center gap-2">
            <Popconfirm Title="Sure to delete?"
                        OnConfirm="()=> DeleteStudentAsync(context.Id)"
                        OkText="Yes"
                        CancelText="No">
                <Button Danger>Delete</Button>
            </Popconfirm>
            <Button OnClick="@(() => OpenPopup(context))">Update</Button>
            <Button OnClick="@(() => OpenPopup(context, isDetails:true))">Details</Button>
        </ActionColumn>
    </Table>

@if(visible)
{
    <StudentPopup Visible="visible" Student="student" ReloadStudents="LoadStudentsAsync" OnClose="ClosePopupAsync" IsCreate="isCreate" IsDetails="isDetails" />
}