@rendermode InteractiveServer

@if(classes == null)
{
    <p>Loading...</p>
}
else {
    <div>
        <Form Model="@studentFields"
        OnFinish="HandleOnSearchAsync"
        ValidateMode="@FormValidateMode.Complex"
        RequiredMark="@FormRequiredMark.Required">
        <div class="row mt-4">
            <div class="col-md-1">
                    <FormItem Label="ID">
                        <Input @bind-Value="studentFields.Id" Placeholder="Id"/>
                    </FormItem>
            </div>
            <div class="col-md-2">
                    <FormItem Label="Name">
                        <Input @bind-Value="studentFields.Name" Placeholder="Student Full Name"/>
                    </FormItem>
            </div>
            <div class="col-md-2">
                    <FormItem Label="Address">
                        <Input @bind-Value="studentFields.Address" Placeholder="Address"/>
                    </FormItem>
            </div>
            <div class="col-md-2">
                    <FormItem Label="Start Date">
                        <DatePicker @bind-Value="studentFields.StartDate" Format="dd/MM/yyyy" />
                    </FormItem>
            </div>
            <div class="col-md-2">
                    <FormItem Label="End Date">
                        <DatePicker @bind-Value="studentFields.EndDate" Format="dd/MM/yyyy" />
                    </FormItem>
            </div>
            <div class="col-md-2">
                    <Select DataSource="@classes"
                        Placeholder="Select Class"
                            @bind-Value="@studentFields.ClassId"
                            ItemValue="c => c.Id"
                            ItemLabel="c => c.Name"
                            AllowClear
                            >
                    </Select>
            </div>
            <div class="col-md-1">
                <Button Type="primary" HtmlType="submit">Search</Button>
            </div>
        </div>
        </Form>
    </div>
}