@using Microsoft.AspNetCore.Components
@using Shared
@rendermode InteractiveServer

<Drawer Visible="@(Visible)" Placement="right" Title="@($"Student")" OnClose="ClosePopupAsync" Width="500">
    <Form Model="@Student"
          OnFinish="@(IsDetails ? () => {} : async () => await CreateOrUpdateAsync())"
          ValidateMode=@FormValidateMode.Complex
          RequiredMark=FormRequiredMark.Required>
        @if(IsCreate)
        {
            <FormItem Label="ID">
                <Input @bind-Value="Student.Id" Disabled />
            </FormItem>
        }
        <FormItem Label="Full Name">
            <Input @bind-Value="Student.FullName" Disabled=@(IsDetails) />
        </FormItem>
        <FormItem Label="Birthday">
            <DatePicker @bind-Value="Student.Birthday" Format="dd/MM/yyyy" Disabled=@(IsDetails) DefaultValue="DateTime.Now" />
        </FormItem>
        <Flex Gap="small">
            <FormItem Label="Class">
                <Select DataSource="@classes"
                        @bind-Value="@context.ClassId"
                        ItemValue="c => c.Id"
                        ItemLabel="c => c.Name"
                        Style="width: 120px"
                        Disabled=@(IsDetails)>
                </Select>
            </FormItem>
            @if(!IsCreate)
            {
                <FormItem Label="Class Subject">
                    <Input TValue="string" @bind-Value="@context.ClassSubject" Disabled>
                    </Input>
                </FormItem>
            }
        </Flex>
        <FormItem Label="Address">
            <TextArea @bind-Value="Student.Address" MinRows="3" MaxRows="6" Disabled=@(IsDetails) />
        </FormItem>
        @if (IsDetails)
        {
            <FormItem Label="Teacher ID">
                <Input @bind-Value="Student.TeacherId" Disabled />
            </FormItem>
            <FormItem Label="Teacher Name">
                <Input @bind-Value="Student.TeacherFullName" Disabled />
            </FormItem>
            <FormItem Label="Teacher Birthday">
                <DatePicker @bind-Value="Student.TeacherBirthday" Format="dd/MM/yyyy" Disabled=@(IsDetails) />
            </FormItem>
        }       
        <FormItem>
            <Button Disabled=@(IsDetails) Type="primary" HtmlType="submit">Submit</Button>
        </FormItem>
    </Form>
</Drawer>