@using Microsoft.AspNetCore.Components
@using Shared
@rendermode InteractiveServer

<Drawer Visible="@(isDrawerVisible)" Placement="right" Title="@($"{Status} Student")" OnClose="ClosePopup" Width="500">
    <Form Model="@Student"
          OnFinish="HandleOnSubmit"
          ValidateMode=@FormValidateMode.Complex
          RequiredMark=FormRequiredMark.Required>
        @if(Status != "Create")
        {
            <FormItem Label="ID">
                <Input @bind-Value="Student.Id" Disabled />
            </FormItem>
        }
        <FormItem Label="Full Name">
            <Input @bind-Value="Student.FullName" Disabled=@(Status == "Details") />
        </FormItem>
        <FormItem Label="Birthday">
            <DatePicker @bind-Value="Student.Birthday" Format="dd/MM/yyyy" Disabled=@(Status == "Details") DefaultValue="DateTime.Now" />
        </FormItem>
        <Flex Gap="small">
            <FormItem Label="Class">
                <Select DataSource="@classes"
                        @bind-Value="@context.ClassId"
                        ItemValue="c => c.Id"
                        ItemLabel="c => c.Name"
                        Style="width: 120px"
                        Disabled=@(Status == "Details")>
                </Select>
            </FormItem>
            @if(Status != "Create")
            {
                <FormItem Label="Class Subject">
                    <Input TValue="string" @bind-Value="@context.ClassSubject" Disabled>
                    </Input>
                </FormItem>
            }
        </Flex>
        <FormItem Label="Address">
            <TextArea @bind-Value="Student.Address" MinRows="3" MaxRows="6" Disabled=@(Status == "Details" || Status == "Delete") />
        </FormItem>
        @if (Status == "Details" || Status == "Delete")
        {
            <FormItem Label="Teacher ID">
                <Input @bind-Value="Student.TeacherId" Disabled />
            </FormItem>
            <FormItem Label="Teacher Name">
                <Input @bind-Value="Student.TeacherFullName" Disabled />
            </FormItem>
            <FormItem Label="Teacher Birthday">
                <DatePicker @bind-Value="Student.TeacherBirthday" Format="dd/MM/yyyy" Disabled=@(Status == "Details" || Status == "Delete") />
            </FormItem>
        }       
        <FormItem>
            <Button Disabled=@(Status == "Details") Type="primary" HtmlType="submit">@Status</Button>
        </FormItem>
    </Form>
</Drawer>

<Modal Title="Delete student"
       @bind-Visible="@(isModalVisible)"
        OnOk="() => DeleteStudentAsync()"    
        OnCancel="ClosePopup"
    >
    <p>Are you sure to delete this student?</p>

</Modal>