@using Client.Blazor.Models
@using Microsoft.AspNetCore.Components
@using Shared
@rendermode InteractiveServer

<Drawer Visible="@IsVisible" Placement="right" Title="@("Update Student")" OnClose="ClosePopup" Width="500">
        <Form Model="@StudentProfile" 
            OnFinish="UpdateStudent" 
            ValidateMode=@FormValidateMode.Complex
            RequiredMark=FormRequiredMark.Required>
            <FormItem Label="Full Name">
                <Input @bind-Value="StudentProfile.FullName" />
            </FormItem>
            <FormItem Label="Birthday">
                <DatePicker @bind-Value="StudentProfile.Birthday" Format="dd/MM/yyyy"/>
            </FormItem>
            <FormItem Label="Class">
                <Select DataSource="@classes"
                        @bind-Value="@context.ClassId"
                        ItemValue="c => c.Id"
                        ItemLabel="c => c.Name"
                        Style="width: 200px">
                </Select>
            </FormItem>
            <FormItem Label="Address">
                <TextArea @bind-Value="StudentProfile.Address" MinRows="3" MaxRows="6" />
            </FormItem>
            <FormItem>
                <Button Type="primary" HtmlType="submit">Update</Button>
            </FormItem>
        </Form>
</Drawer>
